#MySQL8 default character set은 utf8mb4이기 때문에 client만 선언
[client]
default-character-set = utf8mb4

# MySQL8 default authentication policy는 `caching_sha2_password`
# 이를 지원하지 않는 DB client로 접속하기 위해서는 기존 정책인 `mysql_native_password`로 설정
[mysqld]
authentication-policy = mysql_native_password